body {
    background-color: grey;
    padding: 0;
    margin: 0;
    border: 10px solid white;
}

.search-bar {
    position: absolute;
    top: 400px;
    left: 377px;
    height: 30px;
    width: 50px;
}

.search-bar input {
     height: 2rem;
     width: 20rem;
     background-color: white;
}
